.Container {
  flex-direction: row;
  &__wrapper {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
      margin-top: 80px;
    }
    &__right {
      margin-top: 20px;
    }
  }
}
