.Container {
  flex-direction: row;
  &__wrapper {
    margin: 100px 100px 0px 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
      margin-top: 80px;
    }
    &__right {
      margin-top: 20px;
    }
  }
}
