@import "../../styles/variables.scss";

.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $container-padding;
  padding-top: calc($nav-height + 20px);
  padding-bottom: 40px;
  background-color: $light-grey;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $max-width;

    &__left {
      width: 50%;
    }
    &__right {
      width: 50%;
    }
  }
}
