.Container {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c2628;
    margin-top: 30px;
    padding: 30px;
    color: white;

    div {
      text-align: center;
      span {
        font-weight: 600;
        font-size: 25px;
      }
    }
  }
}
