@import "../../styles/variables.scss";

.Container {
  display: flex;
  justify-content: center;
  background-color: #1c2628;

  &__wrapper {
    width: 100%;
    max-width: $max-width;
    padding: 25px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

    &__item{
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title{
        font-size: 30px;
        font-weight: 500;
      }
  
      &__subtitle{
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 300;
      }
    }
  }
}
