.Container {
  &__upper {
    margin-top: 130px;
  }
  &__description {
    margin-top: 40px;
  }
  &__button {
    margin-top: 50px;
    span {
      border-radius: 100px;
      background-color: #d9d9d9;
    }
  }
}
