.Container {
  margin-bottom: 40px;

  &__description {
    margin-top: 30px;
  }
  &__button {
    margin-top: 30px;
    color: white;
    font-weight: 600;
    span {
      border-radius: 10px;
      background-color: #fb564c;
    }
  }
}
