@import "../../styles/variables.scss";

.Container {
  display: flex;
  width: 100%;
  padding: $container-padding;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  background-color: white;
  justify-content: center;
  z-index: 999;
color:#3d3e53;
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;

    &__login {
      display: flex;
      flex-direction: row;
      p {
        font-weight: 500;
        color: #8FAD9F;
      }
     
    }
    &__logo {
      span {
        color: #8FAD9F;
      }
    }
  }
}
